node_modules
dist
dist-ssr
*.local
.DS_Store
.vite
__pycache__
*.pyc
*.pyo
build
*.spec
sample_data.db
*.db
*.pkl
.rag_index_cache.pkl
.codebuddy
*.egg-info
.env
.env.local
.idea
*.spec
cloudflared.exe
